/* Стили для галереи */
.gallery {
    padding: 20px;
    overflow-x: auto; /*горизонтальный скролл, если изображений слишком много */
}

.gallery__title {
    font-size: 28px;
    margin-bottom: 20px;
}

.gallery__grid {
    display: flex; /* Используем Flexbox для расположения в одну строку */
    gap: 10px; /* Расстояние между изображениями */
}

/* Уменьшаем размер изображений */
.gallery__item {
    width: calc(100% / 6); /* Каждое изображение занимает 1/6 от контейнера */
    height: auto; /* Сохраняем пропорции */
    flex-shrink: 0; /* Не даём изображениям уменьшаться меньше своей ширины */
}

